<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Смена пароля</title>
</head>

<body>

<div class="container">


    <p class="h4 mb-4">Введите новый пароль: </p>

    <form action="#" th:action="@{/resetPassword}"
          th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{subjectName}"/>

        <input type="hidden" th:field="*{email}"/>

        <input type="hidden" th:field="*{firstName}"/>

        <input type="hidden" th:field="*{lastName}"/>

        <input type="hidden" th:field="*{resetPasswordToken}"/>


        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="пароль">

        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"
           class="alert alert-danger" role="alert"/>

        <input type="password" th:field="*{confirmedPassword}"
               class="form-control mb-4 col-4" placeholder="подтвердите пароль">

        <p th:if="${#fields.hasErrors('confirmedPassword')}" th:errorclass="error" th:errors="*{confirmedPassword}"
           class="alert alert-danger" role="alert"/>

        <p th:if="${#fields.hasGlobalErrors()}" th:each="passwordError : ${#fields.errors('global')}" th:text="${passwordError}" class="alert alert-danger" role="alert" />

        <button type="submit" class="btn btn-success col-2">Изменить пароль</button>

    </form>
    <hr>

</div>

</body>

</html>