<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Риски, вызванные климатическими изменениями</title>
</head>
<body>
<div class="container">
    <h6 align="right">
        <div sec:authorize="isAuthenticated()">
            <div sec:authentication="principal.firstName"></div>
            <div sec:authentication="principal.lastName"></div>
        </div>
        <a th:href="@{/doLogout}" class="btn btn-outline-secondary btn-sm mb-3 pull-right"
           onclick="if (!(confirm('Вы действительно хотите завершить работу и выйти из системы?'))) return false"> Выйти из системы </a>
    </h6>
    <h3 align="center"> <span th:text="${subject.name}"></span></h3>
    <hr>
    <h3 align="center">Риски, вызванные климатическими изменениями:</h3>
    <hr>
<!--    <form th:action="@{/risks(subjectId=${subject.id})}" method="get" class="form-horizontal">-->

<!--        <div class="input-group">-->
<!--            <input th:value="${keyword != null} ? ${keyword}" name="keyword" placeholder="название климатического риска" class="form-control" />-->
<!--            <input type="hidden" th:value="${subject.id}" name="subjectId" placeholder="id субъекта" class="form-control" />-->
<!--        </div>-->

<!--        <div style="margin-top: 10px" class="form-group">-->
<!--            <div class="col-sm-6 controls">-->
<!--                <button type="submit" class="btn btn-primary">поиск</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

        <a sec:authorize="hasAuthority('admin')" th:href="@{/risks/add(subjectId=${subject.id})}"
       class="btn btn-success mb-3">
        + добавить климатический риск
    </a>


    <a th:href="@{/subjects}" class="btn btn-outline-primary btn-sm mb-3"> ← назад к списку субъектов РФ</a>

    <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Наименование риска</th>
            <th>Действие</th>
            <th>Изменено:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempRisk : ${allRisks}">
            <td th:text="${tempRisk.name}"/>
            <td>
                <a th:href="@{/measures(riskId=${tempRisk.id})}"
                   class="btn btn-info btn-sm">
                    → список адаптационных мер
                </a>

                <a sec:authorize="hasAuthority('admin')" th:href="@{/risks/reports(riskId=${tempRisk.id})}"
                   class="btn btn-primary btn-sm">
                    отчеты по риску
                </a>

                <a sec:authorize="hasAuthority('admin')" th:href="@{/risks/update(riskId=${tempRisk.id})}"
                   class="btn btn-outline-secondary btn-sm">
                    изменить риск
                </a>

                <a sec:authorize="hasAuthority('admin')" th:href="@{/risks/delete(riskId=${tempRisk.id}, subjectId=${tempRisk.subject.id})}"
                   class="btn btn-outline-danger btn-sm"
                   onclick="if (!(confirm('Вы действительно хотите удалить этот климатический риск? Все связанные с ним адаптационные меры также будут удалены'))) return false">
                    удалить риск
                </a>
            </td>
            <td th:text="${tempRisk.lastUpdate}"/>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/subjects}">Назад к списку субъектов РФ</a>
</div>
</body>
</html>