<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Мероприятия</title>
</head>
<body>
<div class="container">
    <h3> <span th:text="${measure.risk.subject.name}"></span></h3>
    <hr>
    <h3> <span th:text="${measure.risk.name}"></span></h3>
    <hr>
    <h3> <span th:text="${measure.name}"></span></h3>
    <hr>
    <h3>Мероприятия</h3>
    <hr>

    <a th:href="@{/actions/add(measureId=${measure.id})}"
       class="btn btn-success btn-sm mb-3">
        Добавить мероприятие
    </a>

    <a th:href="@{/measures(riskId=${measure.risk.id})}" class="btn btn-outline-primary btn-sm mb-3">Назад к списку адаптационных мер</a>


    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Название мероприятия</th>
            <th>Действие</th>
        </tr>>
        </thead>>
        <tbody>
        <tr th:each="tempAction : ${allActions}">
            <td th:text="${tempAction.name}"/>

            <td>
                <a th:href="@{/years(actionId=${tempAction.id})}"
                   class="btn btn-info btn-sm">
                    Годовые отчеты по мероприятию
                </a>

                <a th:href="@{/actions/update(actionId=${tempAction.id})}"
                   class="btn btn-outline-secondary btn-sm">
                    Изменить
                </a>

                <a th:href="@{/actions/delete(actionId=${tempAction.id}, measureId=${tempAction.measure.id})}"
                   class="btn btn-outline-danger btn-sm"
                   onclick="if (!(confirm('Вы действительно хотите удалить это мероприятие? Все связанные с ним годовые отчеты также будут удалены.'))) return false">
                    Удалить
                </a>



            </td>>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/measures(riskId=${measure.risk.id})}">Назад к списку адаптационных мер</a>
</div>
</body>
</html>