<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Добавить ежегодный отчет</title>
</head>

<body>

<div class="container">
    <h3>Добавить ежегодный отчет</h3>
    <hr>

    <p class="h4 mb-4">Введите данные:</p>

    <form action="#" th:action="@{/years/save}"
          th:object="${reportingYear}" method="POST">

        <input type="hidden" th:field="*{action.id}"
               class="form-control mb-4 col-4" placeholder="Мероприятие ID">

        <input type="hidden" th:field="*{id}"
               class="form-control mb-4 col-4" placeholder="Год ID">

        <input type="text" th:field="*{year}"
               class="form-control mb-4 col-4" placeholder="год">

        <p th:if="${#fields.hasErrors('year')}" th:errorclass="error" th:errors="*{year}"
           class="alert alert-danger" role="alert"/>

        <input type="text" th:field="*{plannedWorkAmount}"
               class="form-control mb-4 col-4" placeholder="запланированный объем работ">

        <p th:if="${#fields.hasErrors('plannedWorkAmount')}" th:errorclass="error" th:errors="*{plannedWorkAmount}"
           class="alert alert-danger" role="alert"/>


        <input type="text" th:field="*{actualWorkAmount}"
               class="form-control mb-4 col-4" placeholder="выполненный объем работ">

        <p th:if="${#fields.hasErrors('actualWorkAmount')}" th:errorclass="error" th:errors="*{actualWorkAmount}"
           class="alert alert-danger" role="alert"/>

        <input type="text" th:field="*{workMeasuringUnits}"
               class="form-control mb-4 col-4" placeholder="единица измерения работ">

        <p th:if="${#fields.hasErrors('workMeasuringUnits')}" th:errorclass="error" th:errors="*{workMeasuringUnits}"
           class="alert alert-danger" role="alert"/>

        <input type="text" th:field="*{plannedWorkCost}"
               class="form-control mb-4 col-4" placeholder="запланированная стоимость работ">

        <p th:if="${#fields.hasErrors('plannedWorkCost')}" th:errorclass="error" th:errors="*{plannedWorkCost}"
           class="alert alert-danger" role="alert"/>

        <input type="text" th:field="*{actualWorkCost}"
               class="form-control mb-4 col-4" placeholder="фактическая стоимость работ">


        <select class="form-control mb-4 col-4" placeholder="единица измерения стоимости" name="costMeasuringUnits" th:field="*{costMeasuringUnits}">
            <option th:each="costMeasuringUnits : ${T(com.zerokikr.forestdb.enumeration.Unit).values()}"
                    th:value="${costMeasuringUnits.getValue()}" th:text="${costMeasuringUnits.getValue()}"></option>
        </select>

        <p th:if="${#fields.hasErrors('actualWorkCost')}" th:errorclass="error" th:errors="*{actualWorkCost}"
           class="alert alert-danger" role="alert"/>


        <p th:if="${#fields.hasErrors('costMeasuringUnits')}" th:errorclass="error" th:errors="*{costMeasuringUnits}"
           class="alert alert-danger" role="alert"/>

        <input type="text" th:field="*{commentary}"
               class="form-control mb-4 col-4" placeholder="примечание">


        <button type="submit" class="btn btn-success col-2">Сохранить</button>
    </form>
    <hr>
    <a th:href="@{/years(actionId=${reportingYear.action.id})}"
       class="btn btn-outline-primary btn-sm mb-3">Назад к списку отчетных годов</a>
</div>
</body>

</html>