<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Адаптационныен меры</title>
</head>
<body>
<div class="container">
    <h3> <span th:text="${risk.name}"></span></h3>
    <hr>
    <h3>Адаптационные меры</h3>
    <hr>

    <a th:href="@{/measures/add(riskId=${risk.id})}"
       class="btn btn-primary btn-sm mb-3">
        Добавить меру
    </a>

    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Наименование меры</th>
            <th>Действие</th>
        </tr>>
        </thead>>
        <tbody>
        <tr th:each="tempMeasure : ${allMeasures}">
            <td th:text="${tempMeasure.name}"/>
            <td>
                <a th:href="@{/measures/update(measureId=${tempMeasure.id})}"
                   class="btn btn-outline-secondary btn-sm">
                    Изменить
                </a>

                <a th:href="@{/measures/delete(measureId=${tempMeasure.id}, riskId=${tempMeasure.risk.id})}"
                   class="btn btn-outline-danger btn-sm"
                   onclick="if (!(confirm('Вы действительно хотите удалить эту адаптационную меру? Все связанные с ней мероприятия также будут удалены.'))) return false">
                    Удалить
                </a>

                <a th:href="@{/actions(measureId=${tempMeasure.id})}"
                   class="btn btn-primary btn-sm">
                    Перейти к списку мероприятий
                </a>

            </td>>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/risks(subjectId=${risk.subject.id})}">Назад к списку климатических рисков</a>
</div>
</body>
</html>