<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Адаптационные меры</title>
</head>
<body>
<div class="container">
    <h1>
        <a th:href="@{/doLogout}" class="btn btn-outline-secondary btn-sm mb-3 pull-right"
           onclick="if (!(confirm('Вы действительно хотите завершить работу и выйти из системы?))) return false"> Выйти из системы </a>
    </h1>
    <h3 align="center"> <span th:text="${risk.subject.name}"></span></h3>
    <hr>
    <h3 align="center"> <span th:text="${risk.name}"></span></h3>
    <hr>
    <h3 align="center">Адаптационные меры:</h3>
    <hr>
    <form th:action="@{/measures(riskId=${risk.id})}" method="get" class="form-horizontal mb-4 col-4">

        <div class="input-group">
            <input th:value="${keyword != null} ? ${keyword}" name="keyword" placeholder="название риска" class="form-control" />
            <input type="hidden" th:value="${risk.id}" name="riskId" placeholder="id субъекта" class="form-control" />
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">поиск</button>
            </div>
        </div>
    </form>

    <a th:href="@{/measures/add(riskId=${risk.id})}"
       class="btn btn-success btn-lg mb-3">
        + добавить адаптационную меру
    </a>

    <a th:href="@{/risks(subjectId=${risk.subject.id})}" class="btn btn-outline-primary btn-sm mb-3"> ← назад к списку климатических рисков</a>

    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Наименование меры</th>
            <th>Действие</th>
        </tr>>
        </thead>>
        <tbody>
        <tr th:each="tempMeasure : ${allMeasures}">
            <td th:text="${tempMeasure.name}"/>
            <td>
                <a th:href="@{/actions(measureId=${tempMeasure.id})}"
                   class="btn btn-info btn-sm">
                    → список мероприятий
                </a>

                <a th:href="@{/measures/update(measureId=${tempMeasure.id})}"
                   class="btn btn-outline-secondary btn-sm">
                    изменить меру
                </a>

                <a th:href="@{/measures/delete(measureId=${tempMeasure.id}, riskId=${tempMeasure.risk.id})}"
                   class="btn btn-outline-danger btn-sm"
                   onclick="if (!(confirm('Вы действительно хотите удалить эту адаптационную меру? Все связанные с ней мероприятия также будут удалены.'))) return false">
                    удалить меру
                </a>



            </td>>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/risks(subjectId=${risk.subject.id})}">Назад к списку климатических рисков</a>
</div>
</body>
</html>